@import "tailwindcss";
body {
  background-color: #f0f2f5;
  background-image: url("ruta/de/tu/imagen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  transform: scale(1.03);
}
